<!--<div *ngIf="message">{{message.text}}</div>-->
<!--<div *ngFor="let state of msgArray">
    {{state}}
</div>-->
<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-8">
            <h3><span class="headMsg">{{screenmgs}}</span></h3>
            <!--<h3>{{screenmgs}}</h3>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">

            <project-new *ngIf="isShowProjectNew"></project-new>
            <project-event-new *ngIf="isShowProjectEventNew"></project-event-new>
            <project-selected *ngIf="isShowProjectSelected"></project-selected>
            <project-resource-allocation *ngIf="isShowProjectResourceAllocation"></project-resource-allocation>
        </div>
    </div>
</div>