<!--<div *ngIf="message">{{message.text}}</div>-->
<!--<div *ngFor="let state of msgArray">
    {{state}}
</div>-->
<div class="container-fluid">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-8">
            <h3><span style="padding-left:83px;">{{screenmgs}}</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <project-new *ngIf="isShowProjectNew"></project-new>
            <project-event-new *ngIf="isShowProjectEventNew"></project-event-new>
            <project-selected *ngIf="isShowProjectSelected"></project-selected>
        </div>
    </div>
</div>